{% extends 'masterpage.html' %}  
{% block contenido %}  
  <h3>Reporte</h3>
    <p><b>Fecha y hora: </b>{{nombre}}</p>
     <h5 >{{benigno}} registros clasificados como: Benignos</h5>
     <h5 >{{DDoS}} registros clasificados como: DDoS</h5>
     <h5 >{{DoSGoldenEye}} registros clasificados como: DoSGoldenEyes</h5>
     <h5 >{{DoSHulk}} registros clasificados como: DoSHulk</h5>
     <h5 >{{DoSSlowhttptest}} registros clasificados como: DoSSlowhttptest</h5>
     <h5 >{{DoSSslowloris}} registros clasificados como: DoSSslowloris</h5>
{% endblock %}