{% extends 'masterpage.html' %}  
{% block contenido %}  
  <h3>Reporte</h3>
  <p><b>Fecha y hora: </b>{{nombre}}</p>
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Benignos</th>
          <th scope="col">DDoS</th>
          <th scope="col">DoSGoldenEye</th>
          <th scope="col">DoSHulk</th>
          <th scope="col">DoSSlowhttptest</th>
          <th scope="col">DoSSslowloris</th>
          <th scope="col">Tiempo de prueba</th>
          <th scope="col">Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{benigno}}</td>
          <td>{{DDoS}}</td>
          <td>{{DoSGoldenEye}}</td>
          <td>{{DoSHulk}}</td>
          <td>{{DoSSlowhttptest}}</td>
          <td>{{DoSSslowloris}}</td>
          <td>{{tiempo}}</td>
          <td>{{fecha}}</td>
        </tr>
      </tbody>
    </table>

{% endblock %}