{% extends 'masterpage.html' %}  
{% block contenido %}  
        <h6><b>Paso 3: </b></h6>
        <h6>{{mensaje}}</h6>
        <form action="/modelo" method="post" class="mt-4" enctype="multipart/form-data">
            <label for="select">Por favor seleccione una de las Técnicas de Clasificación</label>
            <select name="model" id="select" class="form-control" required>
                <option value="" selected disabled hidden>Seleccione un algoritmo</option>
                <option value="knn">KNN</option>
                <option value="svm">SVM</option>
                <option value="nn">Red Neuronal Profunda</option>
                <option value="cnn">Red Neuronal Convolucional</option>
            </select>
            <br>
            <label for="archivo">Seleccione un archivo CSV</label>
            <input type="file" name="csv" id="archivo" accept=".csv, .CSV" required>
            <br>
            <button type="submit" class="btn btn-primary" name="trafico" id="normalizar" value="1">Obtener resultados (dashboard)</button>
        </form>
        {% endblock %}