{% extends 'masterpage.html' %}  
{% block contenido %} 
        <h6><b>Paso 1: </b></h6>
        <h6>{{mensaje}}</h6>
        <form action="/algoritmo" method="post" class="mt-4" enctype="multipart/form-data">
            <label for="demon">¿Desea capturar tramas indefinidamente y recibir notificaciones en caso de un ataque?
                <br>
                <input class="form-control" type="radio" id="demonSi" name="demon" value="1" required onchange="cambio()">Si
                <input class="form-control" type="radio" id="demonNo" name="demon" value="0" required onchange="cambio()">No
            </label>
            <br>
            <div class="col-xs-2">

                <select name="iface" id="select" class="form-control" required>
                    <option value="" selected disabled hidden>Seleccione una interfaz de red</option>
                    {% for data in iface_names %}
                    <option value="{{ data }}">{{ data }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <div id="elementos">
            </div>
            <br>
            <button type="submit" class="btn btn-primary" id="normalizar">Iniciar captura</button>
        </form>
        <script src="../static/manualAuto.js"></script>
        {% endblock %}
