{% extends 'masterpage.html' %}  
{% block contenido %} 

        <h1 class="mt-4">Dashboard</h1>
        <form action="/pdf" method="post">
            <input value="{{benigno}}" hidden name="benigno">
            <input value="{{DDoS}}" hidden name="DDoS">
            <input value="{{DoSGoldenEye}}" hidden name="DoSGoldenEye">
            <input value="{{DoSHulk}}" hidden name="DoSHulk">
            <input value="{{DoSSlowhttptest}}" hidden name="DoSSlowhttptest">
            <input value="{{DoSSslowloris}}" hidden name="DoSSslowloris">
            <input value="{{tiempo}}" hidden name="tiempo">
            <input value="{{fecha}}" hidden name="fecha">
            <button type="submit" class="btn btn-success">Generar PDF</button>
        </form>
        <div class="card mt-4">
            <div class="card-body">
                <h5><span id="benigno"><strong>{{benigno}}</strong></span> registros clasificados como: benignos</h5>
                <h5><span id="DDoS"><strong>{{DDoS}}</strong></span> registros clasificados como: DDoS</h5>
                <h5><span id="DoSGoldenEye"><strong>{{DoSGoldenEye}}</strong></span> registros clasificados como: DoSGoldenEye</h5>
                <h5><span id="DoSHulk"><strong>{{DoSHulk}}</strong></span> registros clasificados como: DoSHulk</h5>
                <h5><span id="DoSSlowhttptest"><strong>{{DoSSlowhttptest}}</strong></span> registros clasificados como: DoSSlowhttptest</h5>
                <h5><span id="DoSSslowloris"><strong>{{DoSSslowloris}}</strong></span> registros clasificados como: DoSSslowloris</h5>
                <h5><span id="tiempo"><strong>{{tiempo}}</strong></span> Tiempo de duración del análisis de tráfico</h5>
                <h5><span id="fecha"><strong>{{fecha}}</strong></span> Fecha de la prueba</h5>
              </div>
            </div>
            <script src="../static/grafica.js"></script>
            <body onload="graficas()">
              
            <div class="container" >
                <div class="row">
                  <div class="col-sm">
                    <div id="barra"></div>
                  </div>
                  <div class="col-sm">
                    <div id="pie"></div>
                  </div> 
                </div>
                <div class="row">
                  <div class="col-sm">
                    <div id="myDiv"></div>
                  </div>
                  <div class="col-sm">
                    <div id="myDiv2"></div>
                  </div> 
                </div>
            </div>
            <div id="gg">
              
            </div>
            </body>

              <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
              <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
              {% endblock %}
    