{% extends 'masterpage.html' %}  
{% block contenido %}  
<h4 class="text-center navbar-light bg-light">Prototipo para Detección de Ataques de DDoS (Denegación de Servicios Distribuida) Basado en Aprendizaje de Máquina en una Arquitectura Orientada a Servicios en la Nube</h4>
        <h5 class="mt-4">Convocatoria conjunta Universidad Nacional de Colombia - Universidad de Caldas</h5>
<h4 class="text-center navbar-light bg-light">Prototipo para Detección de Ataques de DDoS (Denegación de Servicios Distribuida) Basado en Aprendizaje de Máquina en una Arquitectura Orientada a Servicios en la Nube</h4>
{% endblock %}