{% extends 'masterpage.html' %}  
{% block contenido %}  
<br>
<h2 class="text-center">Prototipo para Detección de Ataques de DDoS (Denegación de Servicios Distribuida) Basado en Aprendizaje de Máquina en una Arquitectura Orientada a Servicios en la Nube</h2>
<h5 class="mt-4">Convocatoria conjunta Universidad Nacional de Colombia - Universidad de Caldas</h5>
<div class="containter text-center">
    <div class="container">
        <div class="row">
          <div class="col">
            <img src="static/unal.png" alt="" style="width: 80px; height: 100px;">
          </div>
          <div class="col">
            <img src="static/uCaldas.png" alt="" style="width: 100px; height: 100px;">
          </div>
        </div>
      </div>
      <p>Este prototipo se desarrolla con el objetivo de identifi</p>
</div>
{% endblock %}