{% extends 'masterpage.html' %}  
{% block contenido %} 

    <h6><b>Paso 2: </b></h6>
    <h6>{{mensaje}}</h6>
    <br>
    <form action="/convertToCSV" method="POST" enctype="multipart/form-data">
        <label for="archivo">Seleccione el archivo .PCAP</label>
        <br>
        <input type="file" name="pcap" id="archivo" required accept=".pcap, .PCAP">
        <br>
        <br>

        <button type="submit" value="Upload" class="btn btn-primary"> Cargar archivo</button>
    </form>

    {% endblock %}