{% extends 'masterpage.html' %}  
{% block contenido %} 
    <h6 class="mt-4"><b>Paso 2: </b></h6>
    <h6>{{mensaje}}</h6>
    <div class="w-50 p-3 container text-center" >
    <form action="/convertToCSV" method="POST" enctype="multipart/form-data">
        <label for="archivo">Seleccione el archivo .PCAP</label>
        <br>
        <input class="form-control" type="file" name="pcap" id="archivo" required accept=".pcap, .PCAP">
        <br>
        <button type="submit" value="Upload" class="btn btn-success"> Cargar archivo</button>
    </form>
    </div>
    

    {% endblock %}